// Place all the styles related to the Packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
    list-style-type: none;
}

.msg{
    font-style: italic;
    padding: 10px;
}

.recipient-info{
    padding: 10px;
}

.packageitems{
    padding: 10px;
}

.linktohome{
    padding: 20px;
}

#recipient_info{
    display: grid;
    justify-content: center;
}

.checkbox-list{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    justify-content: center;
    column-gap: 40px;
    row-gap: 10px;
  }

  #package-submit{
      padding-bottom: 5%;
  }