<h1>Care Package Items</h1>

<h5>Custome your gift by selecting any five of the items below:</h5>

<div>
    <ul>
        <% @items.each do |item| %>
        <li> <%= link_to item.name, item_path(item) %> </li>
        <% end %>
    </ul>
</div>


<div>
<% if logged_in? %>
   <%= link_to "Return to Account Home", user_path(session[:user_id]) %>
   <% else %>
   <%= link_to "Login", login_path %>
   <%end%>
</div>