<h1><%= @item.name %></h1>

<h4>Price:</h4> <%= number_to_currency(@item.price) %>
<h4>Description:</h4> <%= @item.description %>

<div><br>
<%= link_to "Login to Add to Cart", login_path %>
</div>


