<h1>Why Send a Covid Care Package?</h1>

<p>Its been 9 months since our lives were first impacted by Covid-19.  In that time we've had to limit our contact with friends and family, and do more of our work or studying from home as well. Since loneliness can negatively affect both physical and mental health, we've created Covid Care Packages so that you can let those close to you know you're thinking about them. </p>

<%=link_to "Send your first gift!", login_path%>

<h3>Contact</h3>

<div> <%= mail_to "fakermail@gmail.com", "Email us" %> </div>
<br>
<div>
<b>Find us on Github:</b>
<div><%= link_to "Ben Hessel", "https://github.com/BHessel"  %> </div>
<div><%= link_to "Kellie Hamilton", "https://github.com/KellBell-bot"  %> </div>

 </div>