<h1>Weclome to Covid Care Package</h1>
<h2>We care about your Quarantine!</h2>

<h3> A carepackage makes quarantine a little more bearable. Send one today to a friend or loved-one today!</h3><br>
<h3> Click the index below to view items to add to your package!</h3>

<h4><%= link_to "Index", items_path %></h4>

<h4><%= link_to "Login", login_path %></h4>
