<div class = "head">
    <h1>Weclome to Covid Care Packages</h1>
    <h3>We care about your Quarantine!</h3>
</div>

<p id="home-par"> A carepackage makes quarantine a little more bearable. Send one today to a friend or loved-one today! Click <%=link_to "here", new_user_path %> to create your account and send your first gift.</p>

<div>
    <%= image_tag("https://www.wineexpress.com/core/media/media.nl?h=8b6f053eef5f586946fb&id=24395", class: "rounded-corners")%>
</div>